/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #7b61ff;
  --secondary-color: #f6f4ff;
  --footer-color: #f9f9f9;
  --title-font-size: 3.2rem;
  --small-font-size: 1.3rem;
  --h2-font-weight: 600;
  --card--gap: 3.2rem;
  --container--size: 73%;
  --container-width: 90%;
  --container-max-width: 1378px;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.section-title {
  font-size: var(--title-font-size);
  margin-bottom: 6.4rem;
  font-weight: 700;
  margin-top: 12rem;
}

.section-button {
  font-size: 1.6rem;
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
  width: 105px;
  height: 44px;
  background: #f6f4ff;
  border-radius: 12px;
  cursor: pointer;
}

/* Main styles */

.main {
  background: url("../image.png") no-repeat center center/cover;
  background-size: cover;
  min-height: 800px;
  border-radius: 0 0 50px 50px;
}

img {
  object-fit: cover;
}

/* headEr */

/* Header */

.header {
  color: #fff;
  max-width: var(--container--size);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 4.8rem;
  margin-bottom: 160px;
}

/* Navigation */
.navlists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.header-btn{
  text-align: left;
  position: relative;
  left: 1172px;
  top: -50px;
}

.header-btn a {
  padding: 10px 20px;
  color: #444;
  font-weight: 500;
}

.header-btn .sign-in {
  background: #475fa0;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn .sign-in:hover {
  background: red;
}

.header-btn .sign-up {
  background: #474fa1;
  color: #fff;
  border-radius: 0.5rem;
}

.header-btn .sign-up:hover {
  background: rgb(211, 10, 10);
}


.navlists a {
  opacity: 0.7;
}

.navlists a:hover {
  opacity: 1;
}
/* Style the navigation links */
.navlists {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navlists li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

.navlists li a:hover {
  color: #00f; /* Change to your preferred hover color */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Add a subtle background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow to make it stand out */
  transform: scale(1.1); /* Scale up the item */
  z-index: 1; /* Ensure the hovered item is on top */
  animation: pop-in-out 0.3s forwards;
}
@keyframes pop-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Ensure proper spacing and positioning */
/* .navbar .nav-links, .navbar .cta {
  display: flex;
  align-items: center;
} */

/* User profile */
.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.user-profile h2 {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.1rem;
  align-items: flex-end;
  font-size: 1.4rem;
}

.hello {
  opacity: 0.7;
}

.profile-pic {
  width: 48px;
  height: 48px;
}

.profile-pic img {
  border-radius: 50%;
  width: 100%;
}

/* Showcase content */
.showcase-content {
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 4rem 0;
}

.showcase-content h1 {
  margin-bottom: 42px;
}

.showcase-content a {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 32px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: var(--primary-color);
  padding: 1.8rem 2.4rem;
  border-radius: 1.2rem;
}

.showcase-content a:hover {
  background: var(--primary-color);
  opacity: 0.9;
}

.showcase-search {
  width: 60%;
  max-width: 800px;
  margin: 184px auto 0;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  padding-right: 1rem;
  border-radius: 12px;
}

.filters {
  display: flex;
  align-items: center;
  flex: 10;
  gap: 3rem;
}

.filter {
  justify-content: space-between;
  align-items: center;
  display: flex;
  line-height: 1.6;
  gap: 1.5rem;
  border-right: 1px solid rgba(194, 193, 193, 0.1);
  padding-right: 1.5rem;
}

.filter h4 {
  color: #5b5b5b;
  font-weight: 300;
}

.filter h2 {
  font-weight: 500;
}

.search-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 10px;
}

.search-button-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Destinations */
.destinations-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  font-size: 1.6rem;
}

.destination-card h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

.destination-card h6 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 19.5px;
}

.destination-card img {
  object-fit: cover;
  border-radius: 10px;
}

/* Hotels */
.hotel-restaurants {
  transition: 3s;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  transition: 0.3s;
}

.hotel-cards {
  position: relative;
  border-radius: 12px;
}

.hotel-cards img {
  border-radius: 12px;
}

.hotel-cards h5 {
  font-weight: 500;
  font-size: 1.6rem;
}

.hotel-cards h6 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 19.5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.ratings {
  position: absolute;
  bottom: 1px;
  right: 0;
}

.off {
  display: none;
}

.on {
  display: block;
}

/* Tours */
.tours-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.tours-card {
  display: flex;
  gap: 3rem;
  flex: 1 1 300px;
}

.tours-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}

.tours-card-content-icons {
  display: flex;
  gap: 3rem;
  margin-top: 6rem;
}

.tours-card-content-icons h6 {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  font-size: 12px;
  color: #878787;
}

.tours-card-contents-text p {
  margin-top: 2rem;
}

.tours-card img {
  border-radius: 12px;
}

/* Activities */
.activities-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.activities-cards img {
  border-radius: 12px;
}

.activities-cards h4 {
  font-size: 1.6rem;
}

/* About */
#About {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  align-items: center;
  gap: 3rem;
}

#About h2 {
  font-size: var(--title-font-size);
}

#About p {
  width: 556px;
  font-size: 1.6rem;
  margin-top: 3rem;
}

#About .section-button {
  width: 130px;
}

/* Footer */
footer {
  background: var(--footer-color);
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 120px;
}

.footer-sections {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
  justify-content: space-between;
}

.footer-sections ul {
  margin-top: 2rem;
}

.footer-section p {
  font-size: 1.3rem;
  width: 354px;
  line-height: 1.9;
  margin-block: 1rem 2rem;
  color: #5b5b5b;
}

.footer-section a {
  color: #5b5b5b;
  font-size: 1.3rem;
}

.footer-section h3 {
  font-size: 1.8rem;
}

.footer-social-icons {
  display: flex;
  gap: 3rem;
}

.footer-section:last-child {
  margin-left: auto;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section:last-child form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer-section:last-child label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  background-color: #fff;
  color: #5b5b5b;
  padding-left: 5px;
}

.footer-section:last-child input {
  border: none;
  outline: none;
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: black;
  background-color: white;
}

.footer-section:last-child img {
  margin-right: 1rem;
}

.form-section {
  display: flex;
  justify-content: center;
  line-height: 1.2;
  background-color: #fff;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  padding-right: 3rem;
  border-radius: 12px;
}

.footer-section:last-child button {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: 2rem;
  border-radius: 12px;
  cursor: pointer;
}

.footer-section:last-child button img {
  margin-right: 0;
}

.footer-copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16x;
  padding: 20px 0;
  background: var(--footer-color);
  color: #797575;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242323;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
  border: 0.5px solid #242323;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toggleOn,
.toggleClose {
  display: none;
}
